.wrapper_main{
  background-color: #f5f5f5;
  .wrapper-credit{
    width: 1020px;
    display: flex;
    height: 100%;
    position: relative;
    padding-top: 40px;
    background-color: #f5f5f5;
    margin: auto;
    font-size: 14px;
    color: #333;
    line-height: 1;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;;

    .side_bar{
      height: 1144px;
      width: 280px;
      float: left;
      margin: 0 40px 0 0;

      &__ul{
        height: 730px;

        &__li{
          width: 280px;
          height: 48px;

          &__active{
            text-decoration: none;
            color: #333;
            background-color: #eee;
            display: list-item;
            line-height: 48px;
            padding-left: 16px;
            font-weight: bold;
            display: flex;
            position: relative;
            margin: 2px 0;

            &__arrow{
              width: 8px;
              height: 8px;
              border-top: 2.2px solid #666;
              border-right: 2.2px solid #666;
              transform: rotate(45deg);
              position: absolute;
              top: 18px;
              right: 18px;
              transition: 1s;
              -webkit-transition: 0.3s;
            }
          }
          &__active:hover > .side_bar__ul__li__active__arrow{
            right: 1em;
          }

          &__item{
            text-decoration: none;
            color: #333;
            background-color: #ffffff;
            display: list-item;
            line-height: 48px;
            padding-left: 16px;
            display: flex;
            position: relative;
            margin: 2px 0;

            &__arrow{
              width: 8px;
              height: 8px;
              border-top: 2.2px solid #ccc;
              border-right: 2.2px solid #ccc;
              transform: rotate(45deg);
              position: absolute;
              top: 18px;
              right: 18px;
              transition: 1s;
              -webkit-transition: 0.3s;
            }
          }
        
          &__item:hover > .side_bar__ul__li__item__arrow{
            right: 1em;
            border-top: 2.2px solid #666;
            border-right: 2.2px solid #666;
          }
          &__item:hover{
            background-color: #fafafa;
          }
        }
      }

      &__config-ul{
        height: 416px;

        &__li{
          width: 280px;
          height: 48px;
          margin: 2px;

          &__active{
            text-decoration: none;
            color: #333;
            background-color: #f5f5f5;
            display: list-item;
            line-height: 70px;
            font-weight: bold;
            font-size: 15px;
          }

          &__item{
            text-decoration: none;
            color: #333;
            background-color: #ffffff;
            display: list-item;
            line-height: 48px;
            padding-left: 16px;
            display: flex;
            position: relative;
            margin: 2px 0;

            &__arrow{
              width: 8px;
              height: 8px;
              border-top: 2.2px solid #ccc;
              border-right: 2.2px solid #ccc;
              transform: rotate(45deg);
              position: absolute;
              top: 18px;
              right: 18px;
              transition: 1s;
              -webkit-transition: 0.3s;
            }
          }
          &__item:hover > .side_bar__config-ul__li__item__arrow{
            right: 1em;
            border-top: 2.2px solid #666;
            border-right: 2.2px solid #666;
          }
          &__item:hover{
            background-color: #fafafa;
          }
        }
      }
    }

    .credit-main{
      background-color: #f5f5f5;
      float: right;
      margin: 0;
      padding: 0;

      .content-title{
        padding: 15px 24px;
        font-size: 24px;
        background-color: #ffffff;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 34px;
        font-weight: bold;
      }

      .content-credit-card{
        width: 620px;
        padding: 40px 40px 64px;
        background-color: #ffffff;

        &__inner{
          height: 407px;
          width: 343px;
          margin: auto;

          .label{
            font-weight: bold;
            }

          .span{
            background-color: #3ccace;
            color: #ffffff;
            margin-left: 8px;
            padding: 1px 4px;
            border-radius: 3px;
            width: 32px;height: 19px;
          }
          
            .input_number{
              margin-top: 8px;
              padding: 10px 16px 8px;
              height: 48px;
              width: 343px;
              border-radius: 3px;
              border: 1px solid #ccc;
            }
          .cards-icon{
            margin-top: 8px;
            .credits_image{
              height: 25px;
              width: 38px;
            }
          }
          .cards_expire{
            height: 70px;
            margin-top: 32px;

            &__box{
              display: flex;
              margin-top: 8px;

              &__wrap{
                width: 169.5px;

                .input-expire{
                  width: 131.5px;
                  height: 48px;
                  text-indent: 5%;
                }

                .expire-text{
                  margin-left: 9px;
                }
              }
            }
          }
          .cards_expire{
            .input_sequrity_code{
              margin-top: 8px;
              padding: 10px 16px 8px;
              height: 48px;
              width: 343px;
              border-radius: 3px;
              border: 1px solid #ccc;
              font-size: 16px;
            }
          }

          .content-bottom#card_token{
            .content-bottom--add-btn{
              margin-top: 25px;
              padding: 10px 16px 8px;
              height: 50px;
              width: 343px;
              background-color: #3ccace;
              color: #ffffff;
              border: none
              
            }
          }
        }
      }
    }
  }
}