*, ::before, ::after {
  box-sizing: border-box;
}

.sell {
  color: rgb(51, 51, 51);
  min-height: 100%;
  background-color: rgb(245, 245, 245);
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 14px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

p {
  display: block;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
.sell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header {
    -webkit-box-align: center;
      align-items: center;
      display: flex;
      background-color: rgb(245, 245, 245);
      height: 128px;
      width: 100%;
      -webkit-box-pack: center;
      justify-content: center;
      &__icon {
        height: 49px;
        width: 185px;
        color: inherit;
        text-decoration: none;
      }
  }
  &__main {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
      &__form {
        position: relative;
        }
        &__content {
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.6);
          display: flex;
          left: 0px;
          min-height: 100vh;
          position: fixed;
          opacity: 0;
          top: 0px;
          visibility: hidden;
          width: 100vw;
          z-index: 10;
          padding: 0px 16px;
          transition: all 0.3s ease-out 0s;
          
        }
  }
  &__footer {
    padding: 40px 0px 41px;
    margin-top: auto;
    text-align: center;
    &__inc {
      font-size: 12px;
    }
  }
}

.form__image__box {
  padding: 40px;
  &__area {
    height: 150px;
    margin-top: 16px;
    &--main {
      height: 100%;
      margin-top: 8px;
      flex: 1 1 0%;
      padding: 0px 4px;
      align-content: center;
      -webkit-box-align: center;
      align-items: center;
      background-color: rgb(245, 245, 245);
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      border-width: 1px;
      border-style: dashed;
      border-color: rgb(204, 204, 204);
      border-image: initial;
    }
  }
}
.max-sheets {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.4em;
}

.input-file {
  height: 150px;
  width: 620px;
  display: none;
}

.fa.fa-star.likeIcon {
  font-size: 20px;
}

.input-file-logo {
  position: absolute;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
  width: 100%;
}
.devide {
  color:#efefef;
  border-style: solid;
}

.form__text__box {
  padding: 40px;
  &__name {
    margin: 0;
    &__area {
      margin-top: 16px;
      width: 620px;
      &__input {
        width: 100%;
      }
      &__text {
        width: 100%;
      }
    }
  }
  &__discription {
    margin-top: 32px;
    &__list {
      margin-bottom: 20px;
      align-items: center;
      display: flex;
     
    }
    &__length {
      margin-top: 20px;
      font-size: 12px;
      text-align: right;
    }
  }
}
.input-name {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0 16px;
  width: inherit;
}
.input-textarea {
  height: 126px;
  width: 100%;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  outline: none;
  padding: 13px 16px;
  vertical-align: middle;
  display: inline-block;
  text-align: start;
}
.form__detail__box {
  padding: 40px;
  &__category {
    margin-top: 32px;
    &__select {
      position: relative;
      margin-top: 16px;
      &__added{
        position: relative;
      }
      &__area {
        display: inline-block;
        width: 620px;
      }
    }
  }
  &__brand {
    margin-top: 32px;
    &__name {
      margin-top: 16px;
      &__input {
        width: 620px;
      }
    }
  }
  &__status {
    margin-top: 32px;
    &__select {
      position: relative;
      margin-top: 16px;
      &__area {
        display: inline-block;
        width: 620px;
      }
    }
  }
}

.footer__logo__list {
  margin-bottom: 40px;
  margin-top: auto;
  text-align: center;
  list-style: none;
  &__style {
    display: inline-block;
    margin: 16px 0px 0px 16px;
    &__link {
      font-size: 12px;
      color: inherit;
      text-decoration: none;
      &__icon {
        height: 65px;
        margin-bottom: 8px;
        width: 80px;
    
      }
    }
  }
}
.form__list {
  margin-right: auto;
  align-items: center;
  display: flex;
  &__logo {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  &__label {
    font-size: 12px;
    padding: 0 4px;
    background-color: #3ccace;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0 0 0 8px;
    &__any {
      margin-left: 8px;
      background-color: #bfbfbf;
      color: #fff;
      border-radius: 2px;
      display: inline-block;
      font-style: normal;
      font-weight: 600;
      line-height: 1.4em;
      margin: 0;
      font-size: 12px;
      padding: 0 4px;
      margin: 0 0 0 8px;
    }
  }
}
.select__sell {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0 56px 0 16px;
  width: 100%;
  outline: none;
  padding: 0 56px 0 16px;
  -webkit-appearance: none;
}


.arrow{
  width: 10px; 
  height: 10px; 
  border-top: 1px solid rgb(136, 136, 136);
  border-right: 1px solid rgb(136, 136, 136);
  display: inline-block; 
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;

}

.explain {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 24px;
  display: block;
  position: relative;
}

.form__shipping__box {
  padding: 40px;
  &__charge {
    margin-top: 32px;
    &__select {
      position: relative;
      margin-top: 16px;
      &__area {
        display: inline-block;
        width: 620px;
      }
    }
  }
  &__area {
    margin-top: 32px;
    &__select {
      position: relative;
      margin-top: 16px;
      &__area {
        display: inline-block;
        width: 620px;
      }
    }
  }
  &__days {
    margin-top: 32px;
    &__select {
      position: relative;
      margin-top: 16px;
      &__area {
        display: inline-block;
        width: 620px;
      }
    }
  }
}


.question {
  font-size: 12px;
  color: rgb(0, 149, 238);
  position: absolute;
  top: 3px;
  margin-left: 5px;
}

.form__price__box {
  padding: 40px;
  &__calculation {
    margin-bottom: 40px;
    &__input {
      display: flex;
      width: 100%;
      &__area {
        align-items: center;
        width: 100%;
        max-width: 285px;
        color: #222;
        font-size: 16px;
        &__field {
          display: inline-block;
          width: inherit;
        }
      }
    }
  }
  &__comission {
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
   &__label {
    font-size: 14px;
   }
  }
  &__profit {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    &__label {
      font-size: 14px;
      
    }
  }
  &__button {
    margin-bottom: 32px;
    width: 360px;
    margin: 0px auto 24px;
  }
} 
.yen {
  padding-top: 15px;
  margin-right: 8px;
  font-size: 14px;
}
.input-price {
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0 16px;
  width: inherit;
}

.devide-total {
  color:#efefef;
  border-style: solid;
  border-top-width: 1px;
}

.draft {
  background-color: #3ccace;
  color: #fff;
  margin-bottom: 24px;
  width: 100%;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 600;
}

.exhibition {
  width: 100%;
  background-color: #ccc;
  border-color: transparent;
  color: #222;
  margin-bottom: 24px;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 600;
}

.link-root {
  color: #0095ee;
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
    
}

.terms {
  font-size: 12px;
  line-height: 1.4em;
}

.link {
  color: #0095ee;
  text-decoration: none;
}

.search_result {
  height: 100%;
  width: 100%;
  &__contents {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
    &__box {
      margin: 10px auto;
      height: 200px;
      width: 27%;
      &__image {
        height: 150px;
        width: 100%;
        .photo__small{
          height: 100%;
          width: 100%;
          object-fit: cover; 
        }
      }
      &__item-name {
        padding-left: 2px;
      }
      &__item-price {
        padding-left: 2px;
      }
    }
    
  }
}