body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
table th{
  background-color: #eeeeee;
  text-align: center;
  width: 25%;
}
table th,table td{
  border: solid 1px #dddddd;
  padding: 0px 10px;
  font-size: 14px;
}
table td{
  background-color: #ffffff;
}

a{
  text-decoration: none;
  color: #3CCACE;
}

.breadcrumbs{
  height: 55px;
  width: 100%;
  background-color: white;
  border-top: solid 1px #dddddd;
  box-shadow: 0 5px 4px -3px #bbbbbb;
  position: relative;
  z-index: 0;
  line-height: 55px;
  padding-left: 60px;
}
.item__details{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  .item__contents{
    height: 100%;
    width: 800px;
    margin-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
    .item__box{
      height: calc(100% - 320px);
      width: 730px;
      background-color: #ffffff;
      padding: 0 40px 50px;
      &--name{
        height: 70px;
        width: 650px;
        background-color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 30px;
        font-size: 24px;
        font-weight: bold;
      }
      &--photos{
        height: 500px;
        width: 650px;
        background-color: #ffffff;
        padding-right: 30px;
        padding-left: 30px;
        .photo {
          position: relative;
          .sold {
            width: 0;
            height: 0;
            border-top: 100px solid #ea352d ;
            border-right: 100px solid transparent;
            border-bottom: 100px solid transparent;
            border-left: 100px solid #ea352d ;
            z-index:100;
            position: absolute;
            &__inner{
              transform: rotate(-45deg);
              font-size: 48px;
              margin:-55px 0px 0px -85px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        } 
        .photo__large{
          height: 400px;
          width: 590px;
          background-color: #fff;
          margin-bottom: 10px;
          object-fit: contain;
        }
        .photo__small{
          height: 90px;
          width: 100%;
          display: flex;
          background-color: #ffffff;
          justify-content: center;
          &--box {
            justify-content: center;
            display: flex;
          }
          &--image {
            margin: 0 5px;
            object-fit: cover; 
            height: 90px;
            width: 120px;
          }
        }
        
      }
      &--price{
        width: 650px;
        background-color: #ffffff;
        margin-bottom: 10px;
        .item__price{
          height: 60px;
          width: 650px;
          background-color: #ffffff;
          font-size: 46px;
          font-weight: bold;
          margin-top: 20px;
          text-align: center;
          line-height: 60px;

        }
        .price__info{
          height: 30px;
          width: 650px;
          background-color: #ffffff;
          text-align: center;
          line-height: 30px;
        }
      }
      &--detals{
        width: 650px;
        background-color: #ffffff;
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 1.5;
      }
      &--info{
        height: 400px;
        width: 650px;
        background-color: darkseagreen;
        th{
          background-color: #eeeeee;
          text-align: center;
          width: 25%;
        }
        th,td{
          border: solid 1px #dddddd;
          padding-left: 10px;
          font-size: 14px;
          vertical-align: middle;
        }
        td{
          background-color: #ffffff;
        }
      }
      &--btn{
        height: 80px;
        width: 650px;
        background-color: #ffffff;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        .like__btn{
          height: 40px;
          width: 150px;
          background-color: #ffffff;
          margin-right: auto;
          border-radius: 40px;
          color: #3CCACE;
          border: 1px solid #ffb340;
          line-height: 40px;
          text-align: center;
        }
        .like__btn:hover{
          opacity: 0.6;
        }
        .warning__btn{
          height: 38px;
          display: inline-block;
          border-radius: 4px;
          border: 1px solid #333;
          text-decoration: none;
          line-height: 40px;
          padding-right: 15px;
          padding-left: 15px;
          font-size: 14px;
          &--style{
            font-weight: 400;
            color: #333;
          }
        }
        .warning__btn:hover{
          opacity: 0.6;
        }
      }
      .soldout {
        margin: 0 50px;
        display: inline-block;
        width: 550px;
        height: 50px;
        color: white;
        background-color: #888;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
        border: 2px solid white;
        border-radius: 4px;
      }
      .edit--btn {
        margin: 0 50px;
        display: inline-block;
        width: 550px;
        height: 50px;
        color: white;
        background-color: #3CCACE;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
        border: 2px solid white;
        border-radius: 4px;
        margin-bottom: 5px;
      }
      .delete--btn {
        margin: 0 50px;
        display: inline-block;
        width: 550px;
        height: 50px;
        color: white;
        background-color: #3CCACE;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
        border: 2px solid white;
        border-radius: 4px;
      }
    }
  

    .comments{
      height: 340px;
      width: 730px;
      background-color: #ffffff;
      margin-top: 15px;
      padding-top: 20px;
      padding-left: 15px;
      .form{
        position: relative;
        .comment__form{
          &--field{
            height: 120px;
            width: 700px;
            padding: 15px;
          }
          &--icon{
            position: absolute;
            top: 255px;
            left: 275px;
            z-index: 2;
            font-size: 18px;
            color: #fff;
          }
        }
        .comment__attention{
          width: 700px;
          margin-top: 15px;
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          text-align: center;
        }
        &__btn{
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 4px;
          text-align: center;
          position: absolute;
          top: 240px;
          right: 150px;
          .fa-comment{
            color: #ffb340;
          }
        }
      }
    }
    .page{
      height: 50px;
      width: 730px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      &__previous{
        float: left;
        font-weight: normal;
      }
      &__next{
        float: left;
        font-weight: normal;
    
      }
    }
    .other__item{
      font-size: 24px;
      font-weight: bold;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

