.main_content
  .main_content__body
    .main_content__body__user-icon
      = link_to new_group_path , class: "main_content__body__user-icon__main" do
        

    .main_content__body__notifications
  .main_content__footer
    .main_content__footer__bought

