.wrapper
  = render "devise/registrations/header"
.main__sell--body
  .sell__complete
    .sell__complete--message
      出品が完了しました
    .sell__complete--link
      .sell__complete--box
        %button{class: "sell__complete--continue", onclick: "location.href='./items/new'"}続けて出品する
        %button{class: "sell__complete--itemShow", onclick: "location.href='#'"}出品した商品をみる

.wrapper
  = render "devise/registrations/footer"


  