.side_bar
  %ul.side_bar__ul
    %li.side_bar__ul__li
      =link_to "/users", class:"side_bar__ul__li__item" do
        .side_bar__ul__li__item__box
          マイページ
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item" do
        .side_bar__ul__li__item__box
          お知らせ
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item" do
        .side_bar__ul__li__item__box
          やることリスト
        .side_bar__ul__li__item__arrow

      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          いいね ! 一覧
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item" do
        .side_bar__ul__li__item__box
          出品する
        .side_bar__ul__li__item__arrow

      =link_to "#", class:"side_bar__ul__li__item" do
        .side_bar__ul__li__item__box
          出品した商品-出品中
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          出品した商品-取引中
        .side_bar__ul__li__item__arrow

      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          出品した商品-売却済み
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          購入した商品-取引中
        .side_bar__ul__li__item__arrow

      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          購入した商品-過去の取引
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          ニュース一覧
        .side_bar__ul__li__item__arrow

      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          評価一覧
        .side_bar__ul__li__item__arrow
        
      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          ガイド
        .side_bar__ul__li__item__arrow

      =link_to "#", class:"side_bar__ul__li__item"do
        .side_bar__ul__li__item__box
          お問い合わせ
        .side_bar__ul__li__item__arrow
        

  %ul.side_bar__config-ul
    %li.side_bar__config-ul__li
      %a.side_bar__config-ul__li__active
        設定
    %li.side_bar__config-ul__li
      =link_to "#", class:"side_bar__config-ul__li__item"do
        .side_bar__config-ul__li__item__box
          プロフィール
        .side_bar__config-ul__li__item__arrow
      =link_to "#", class:"side_bar__config-ul__li__item"do
        .side_bar__config-ul__li__item__box
          発送元・お届け先住所変更
        .side_bar__config-ul__li__item__arrow
      =link_to "/card/new", class:"side_bar__ul__li__active"do
        .side_bar__config-ul__li__active__box
          支払い方法
        .side_bar__ul__li__active__arrow
      =link_to "#", class:"side_bar__config-ul__li__item"do
        .side_bar__config-ul__li__item__box
          メール/パスワード
        .side_bar__config-ul__li__item__arrow
      =link_to "#", class:"side_bar__config-ul__li__item"do
        .side_bar__config-ul__li__item__box
          本人情報
        .side_bar__config-ul__li__item__arrow
      =link_to "#", class:"side_bar__config-ul__li__item"do
        .side_bar__config-ul__li__item__box
          電話番号の確認法
        .side_bar__config-ul__li__item__arrow
      =link_to "#", class:"side_bar__config-ul__li__item"do
        .side_bar__config-ul__li__item__box
          ログアウト
        .side_bar__config-ul__li__item__arrow
