%aside.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード！
    .btn
      %a{ href: '#' }
        %img{ class: "aBtn", src: "/images/icon/App_Store_Badge.png" }
      %a{ href: '#' }
        %img{ class: "gBtn", src: "/images/icon/Google_Play_Store_Badge.png" }
.footer
  %ul.contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul
        %li
          %a{ href: '#' }
            会社概要（運営会社）
        %li
          %a{ href: '#' }
            プライバシーポリシー
        %li
          %a{ href: '#' }
            FURIMA利用規約
        %li
          %a{ href: '#' }
            ポイントに関する特約
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul
        %li
          %a{ href: '#' }
            カテゴリー一覧
        %li
          %a{ href: '#' }
            ブランド一覧
    %li.content
      %h2.content__head
        ヘルプ&ガイド
      %ul
        %li
          %a{ href: '#' }
            FURIMAガイド
        %li
          %a{ href: '#' }
            FURIMAロゴ利用ガイド
        %li
          %a{ href: '#' }
            お知らせ
  .footer__logo
    %a{ href: '#' }
      %img{ src: "/images/logo/logo-white.png", alt: "FURIMAのアイコン" }
    .p © FURIMA